@model IEnumerable<P3_Segunda_Parte.Models.LineaPedido>

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
        </tr>
    }
</table>
<p>
@Html.ActionLink("Volver a la lista", "Index")
</p>
